html, body {
    height: 100%;
    width: 100%;
}

/******************************************************************
index.html
 ******************************************************************/

.row p{
    position: center;

    text-align: center;
    vertical-align: middle;
}

.jumbotron {
    height: 150px;
    margin-bottom: 0px;

}

#home {

    background: url(weihnachtsbaum2.jpg) no-repeat center center fixed;
    display: table;
    height: 85%;
    position: relative;
    width: 100%;
    background-size: cover;

}

#home h1, h3 {
    color: #111111;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}

.landing-text h1{
    font-size: 500%;
    font-weight: 700;
}


#section1 {
    padding-top: 50px;
    height: 500px;
    color: #000000;
    background-color: #fffcf9;

}

#section1 img {
    width: 80%;

}

#section2 {
    padding-top: 50px;
    height: 500px;
    color: #000000;
    background-color: #f6eaff;
}

#section2 .bg-1{
    background-color: #F6EAFF;
}

#section3 {
    padding-top: 50px;
    height: 300px;
    color: #000000;
    background-color: #faf0ff;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .landing-text h1 {
        font-size: 300%;
    }

}


/******************************************************************
adventsseite
 ******************************************************************/


.image-flip:hover .backside, .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.image-flip:hover .frontside, .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.image-flip {
    margin-bottom:200px;
    width: 300px;
    height: 250px;
}
.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}
.frontside, .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}
.frontside {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
}

.frontside h4 {
    font-family: "Bookman Old Style";
    font-size: 300%;
    color: #dacc48;
}


.backside {
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.backside h4 {
    font-size: 100%;

}.backside p {
    font-size: 85%;

}

.card, .card-img-top {
    border-radius: 0;
}

.card-body {
    height: 120px;
}



.carousel-inner img {
    width: 100%;
    hight: 100%;

}

.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}



.carousel-caption h1 {

    font-size: 900%;
    font-transform: uppercase;
    text-shadow: 1px 1px 10px #000;

}

